h1{
    display: flex;
    font-size: 4.16vw;
    color: #D9D9D9;
    font-weight: 400;
    text-align: center;
    margin-top: 15%;
}

main{
    width: 100%;
    padding-left: 53.95vw;
    position: relative;
    z-index: 3;
    margin-top: 23vh;
    height: 77vh;
}